<div class="one-day-events col-lg-12 col-md-12" style="margin-bottom: 100px;padding-left: 0;padding-right: 0;">
  <div class="devider">
    <div class="date col-lg-1 col-md-1" style="font-size: 20px;margin-top: 4px;">昨天</div>
    <div class="hr col-lg-8 col-md-8"><hr></div>
    <div class="project col-lg-3 col-md-3" style="font-size: 20px;margin-top: 4px;"><a href="#">Project Name</a></div>
  </div>
  <div class="events col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1" style="margin-top: 10px;">
    <div class="time col-lg-1 col-md-1">10:20</div>
    <div class="creator col-lg-1 col-md-1">USER</div>
    <div class="event-type-description col-lg-4 col-md-4">创建了任务:</div>
    <div class="event-topic col-lg-6 col-md-6">展示event demo</div>
  </div>
</div>