<div class="container" style="margin-top: 30px;">
  <div class="content col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <div class="row header">
      <div class="col-lg-5 col-md-5" style="font-size: 30px;margin-bottom: 50px;">
        动态页面Demo
      </div>
    </div>
    <div class="row sort-user">
      <div class="col-lg-2 col-md-2" style="font-size: 20px;margin-top: 4px;">筛选动态</div>
      <div class="dropdown col-lg-2 col-md-2" style="padding-left: 0px;">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          所有成员
         <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li class="dropdown-header">成员</li>
          <li><a href="#">user1</a></li>
          <li><a href="#">user2</a></li>
        </ul>
      </div>
    </div>
    <div class="row events-gallary" style="margin-top: 50px;">
      <% @events_arr.map do |one_day_events| %>
        <% @one_day_events = one_day_events %>
        <%= render partial: 'one_day_event', object: @one_day_events %>
      <% end %>
    </div>
  </div>
</div>